<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Navbar.css">
    <title>Navigation Bar</title>
</head>
<body>
    <div class="navbar">
        <a href="index.html" class="nav-item">Home</a>
        <a href="appointments.html" class="nav-item">Appointments</a>
        <a href="../Sign_Up/Sign_Up.html">Sign Up</a>
        <a href="../Login/Login.html">Login</a>

    </div>
</body>
</html>
